<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.alert.elibrary</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/htdocs/alert/check_uptime.py</string>
        <string>--loop</string>
        <string>15</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/htdocs/alert</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>1</integer>
    <key>LimitLoadToSessionType</key>
    <array>
        <string>Aqua</string>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/htdocs/alert/launchd.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/htdocs/alert/launchd.err.log</string>
</dict>
</plist>
